<svg xmlns="http://www.w3.org/2000/svg" width="22" height="18" viewBox="0 0 30 25" class="more-arrow">
  <g id="arrow-right-alt-svgrepo-com" transform="translate(-2 -3.172)">
    <path id="Path_103" data-name="Path 103" d="M29.812,12H4" transform="translate(0 3.679)" fill="none" stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
    <path id="Path_104" data-name="Path 104" d="M14,25.359l9.579-9.579h0a.143.143,0,0,0,0-.2h0L14,6" transform="translate(6.132)" fill="none" stroke="#323232" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"/>
  </g>
</svg>
