@charset "utf-8";

// @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Fira+Code&display=swap');

$main-bg-color: #fff;
$secondary-bg-color: #F8F9FA;
$main-text-color: #181818;
$irrelevant-color-light: #E1F5FE;
$irrelevant-color-medium: #C6F0FF;
$irrelevant-color-period: #3EBEEE;
$irrelevant-color-semi-dark: #0298D1;
$irrelevant-color-dark: #34537A;
$main-col-width: 800px;
$side-col-width: 370px;
$main-container-width: 1200px;
$body-padding-y: 1rem;
$body-padding-x: 1.5rem;

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Frank Ruhl Libre', sans-serif;
  font-size: 18px;
}

html {
  background: $secondary-bg-color;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  --body-padding-y: 1rem;
  --body-padding-x: 1.5rem;
  background: $main-bg-color;
}

a {
  color: $main-text-color;
  transition: box-shadow 0.2s ease-in-out;
  text-decoration: none;
  padding: 0 0.2em 0.04em 0.2em;
  box-shadow: inset 0 -0.44em 0 0em #c6f0ff;

  &:hover {
    box-shadow: inset 0 -1.2em 0 0em #c6f0ff;
  }
}

a.external-link {
  &::after {
    content: '';
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: -0.3rem;
    margin-right: 3px;
    background-image: url('/assets/external-link.svg');
    background-size: 1.2rem 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
  }
}

a.broken-link {
  color: red;
  text-decoration-color: rgb(255, 0, 0);
  box-shadow: none;
  text-decoration: underline;
}

.card {
  border: 1px solid $irrelevant-color-light;
  box-shadow: 0px 3px 9px hsla(0, 0%, 0%, .1);
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  background-color: white;
  padding: 2px;

  &.hoverable:hover {
    transform: translate(-1px, -2px);
    box-shadow: 10px 20px 34px -20px hsla(0, 0%, 0%, .2);
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: $body-padding-y $body-padding-x;
  padding: var(--body-padding-y) var(--body-padding-x);
  h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin: 0;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
  }
}

main {
  width: 100%;
  margin-top: 6rem;
  // margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background: white;
}

.main-col {
  width: 100%;
  // max-width: $main-col-width;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.side-col {
  width: 100%;
  max-width: $side-col-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.col-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.section {
  width: 100%;
  .section-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .section-description {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 1.2rem;
    line-height: 1.6rem;
  }

  a:not(:hover){
    box-shadow: inset 0 -0.5em 0 0em #c6f0ff;
  }

  .more-arrow {
    height: 1rem;
    margin-left: 0.3rem;
    transition: transform 0.2s ease-in-out;
  }

  a:hover {
    .more-arrow {
      transform: translateX(0.2rem);
    }
  }
}


#about {
  padding: 1rem $body-padding-x;
  padding: 1rem var(--body-padding-x);
  max-width: $main-container-width;
  margin-bottom: 6rem;

  .side-col {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  #eleWKGgZuVL1 {
    max-height: 280px;
  }

  .about-me {
    font-size: 3.4rem;
    line-height: 4.4rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
  }

  .period {
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-size: 4rem;
    color: $irrelevant-color-period;
  }

  .about-site {
    font-size: 1.6rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
  }
}

.content-wrapper {
  background: $secondary-bg-color;
  padding: 2rem $body-padding-x;
  padding: 2rem var(--body-padding-x);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  .col-wrapper {
    max-width: $main-container-width;
  }
}

#endeavours {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 0.6rem;

  .endeavour {
    display: flex;
    flex-direction: column;
    align-items: normal;
    text-decoration: none;
    flex: 1;
    min-width: 250px;
    // max-width: 380px;
    box-shadow: none;

    img {
      max-width: 100%;
      height: 220px;
      margin-bottom: 0.6rem;
    }

    .card-title {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 1.8rem;
      margin-bottom: 0.3rem;
      width: 100%;
      text-align: left;
      font-family: 'Raleway', sans-serif;
    }

    .info {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-top: 0.6rem;
      width: 100%;

      .age {
        color: $irrelevant-color-dark;
        font-size: 0.7rem;
        font-weight: 600;
        font-family: 'Raleway', sans-serif;
      }
    }

    .card {
      padding: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 250px;
    }
  }
}

.no-notes {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #90a4ae;
  width: 100%;
}

#notes {
  .notes-row {
    margin-bottom: 0.6rem;
    box-shadow: none;
    display: flex;
    width: 100%;

    .card {
      padding: 0.6em;
      width: 100%;
    }

    .note-title {
      font-family: 'Raleway', sans-serif;
      line-height: 1.6rem;
      font-weight: 500;
    }
  }
}

#note-header {
  padding: 1rem $body-padding-x 2rem $body-padding-x;
  padding: 1rem var(--body-padding-y) 2rem var(--body-padding-x);
  .main-col {
    max-width: $main-container-width;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .info {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-left: 4px;
    line-height: 1.4rem;
    .note-type {
      display: inline-block;
    }
    .age, .separator {
      display: inline;
    }
    .separator {
      color: $irrelevant-color-semi-dark;
      margin: 0 0.2rem;
      font-size: 0.8rem;
    }
    .age {
      font-size: 0.8rem;
      font-weight: 600;
    }
  }
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.4rem;
    line-height: 3.8rem;
    font-weight: 400;
    margin: 0.3rem 0 1rem 0;
  }

  h2 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin: 0.3rem 0 0.5rem 0;
    line-height: 3rem;
  }

  .note-subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    margin: 0.6rem 0 0.2rem 0;
  }
}

#note-content {
  p, li, ul {
    line-height: 1.5rem;
  }

  .main-col {
    display: block;
  }

  .side-col {
    display: block;
    width: 100%;

    h2 {
      margin: 0;
      margin-bottom: 0.6rem;
      font-size: 1.2rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  .note-side-wrapper {
    margin: 1.7rem 0;
    padding: 1rem;
  }

  .topics {
    padding: 0 0.5rem;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
    a {
      margin-right: 0.5rem
    }
  }

  #backlinks {
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    padding-left: 1rem;
    li {
      margin-bottom: 0.5rem;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: -1rem;
        top: 0.6rem;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        background-color: $irrelevant-color-medium;
      }
    }
  }
}

.note-type {
  padding: 0 0.3rem;
  color: #0274A2;
  // background: $irrelevant-color-semi-dark;
  border-radius: 3px;
  background: $irrelevant-color-light;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-right: 0.3rem;
  font-size: 0.7rem;
  width: fit-content;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  min-width: 70px;
  line-height: 1.1rem;

  &.draft {
    background: #fff3e0;
    color: #cd4800;
    min-width: 50px;
    margin-left: -0.2rem;
  }
}

#link-preview {
  position: absolute;
  border: 1px solid $irrelevant-color-medium;
  top: 0;
  left: 0;
  width: 410px;
  height: 410px;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, .1);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  visibility: hidden;
  background-color: white;
  transform: scale(0.85);

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9) 90%);
    width: 100%;
    height: 3rem;
  }

  #link-preview-content {
    overflow-y: auto;
    width: 410px;
    max-width: 410px;
    max-height: 410px;
    height: 410px;
    //  overflow-x: hidden;
    padding: 0 1rem 1rem 1rem;
    position: relative;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }


  a {
    color: $irrelevant-color-dark;
    text-decoration: underline;
  }

  &.visible {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}

.topic-list {
  margin-top: 0.5rem;
  .topic-list-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
  }

  .topic {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    background: $irrelevant-color-light;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    min-width: 70px;
    line-height: 1.3rem;
    box-shadow: none;
    border: none;

    &:hover {
      background: $irrelevant-color-medium;
      cursor: pointer;
    }

    &.selected {
      // background: #cd4800;
      background: $irrelevant-color-semi-dark;
      color: white;
    }

    &.topic-show-more-button {
      background: #fff3e0;
      color: #cd4800;
      &:hover {
        background: #ffe0b2;
        color: #cd4800;
      }
    }
  }
}

.hidden {
  display: none !important;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }

  header {
    justify-content: flex-start;
    gap: 20px 10px;
  }

  h1 {
    width: 100%;
    flex: 1;
  }

  #endeavours {
    justify-content: center !important;
  }

  main {
    margin-top: 2rem;
  }

  .col-wrapper {
    flex-direction: column;
    gap: 20px;
  }

  #about {
    margin-bottom: 2rem;

    #eleWKGgZuVL1 {
      max-height: 200px;
      max-width: 60vw;
    }

    .about-me {
      font-size: 2.6rem;
      line-height: 3.4rem;
      text-align: center;
    }

    .about-site {
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.8rem;
    }

    .side-col {
      max-width: 100%;
      align-items: center;
    }
  }

  .side-col {
    max-width: 100%;
  }
}

@media only screen and (max-width: 620px) {
  body {
    // padding: 20px;
    --body-padding-x: 0.5rem;
  }

  .main-col {
    padding: 0 0.5rem;
  }
}

body,
main,
#endeavours {
  width: 100%;
}
