body {
  --blockquote-margin: 1.8rem;
}

code {
  background: #f8f8f8;
  // border-radius: 3px;
  border: 1px solid #eee;
  padding: 0 2px;
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
  word-break: break-word;
}

pre {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1.1rem;
  margin: 1.1rem 1.6rem;
  margin: 1.1rem var(--blockquote-margin);
  border-radius: 3px;
  white-space: pre-wrap;

  code {
    background: none;
    border: none;
    padding: 0;
  }
}

.highlighter-rouge {
  width: 100%;
}

.meadow-callout {
  margin: 0.6px 0;
  border: 2px solid white;
  box-shadow: 0px 2px 4px 0px hsla(0, 0%, 0%, .1);
  background: white;
  line-height: 1.4rem;
  color: $main-text-color;
  position: relative;
  margin: 1.8rem 0;
  display: block;
  // border-radius: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .meadow-callout {
    margin: 0.8rem 0;
    width: auto;
    flex: 1;
    justify-self: stretch;
    align-self: stretch;
  }

  pre {
    margin-left: 0;
    margin-right: 0;
  }


  .meadow-callout-title {
    padding: 0.4rem 1.6rem;
    padding: 0.4rem var(--blockquote-margin);
    // border-radius: 3px 3px 0 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    background-color: white;
    font-size: 0.95rem;
    color: $irrelevant-color-dark;
    width: 100%;
    background-color: $irrelevant-color-medium;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .meadow-callout-content {
    width: 100%;
    padding: 0.5rem 1.6rem;
    padding: 0.5rem var(--blockquote-margin);
    // margin: 0.5rem 0;

    &:empty {
      display: none;
    }
  }

  p {
    white-space: pre-wrap;
    width: 100%;
    margin: 0.4rem 0;
  }

  .meadow-callout-icon {
    width: 1rem;
    margin-right: 0.4rem;
  }
}

.callout-foldable {
  .meadow-callout-title {
    border: none;
    cursor: pointer;
    span {
      margin-right: 0.4rem;
    }
  }

  &.folded {
    .meadow-callout-content {
      display: none;
    }

    .meadow-callout-icon-toggle {
      transform: rotate(-90deg);
    }
  }
}

/* Abstract */
.meadow-callout-abstract {
  // border-color: #e0f2f1;
  .meadow-callout-title {
    color: #00695c;
    background: #e0f2f1;
  }
}

/* Info */
.meadow-callout-info {
  // border-color: #d5eaff;
  .meadow-callout-title {
    color: #155cb3;
    background: #d5eaff;
  }
}

/* Todo */
.meadow-callout-todo {
  // border-color: #d9f2ff;
  .meadow-callout-title {
    color: #1565c0;
    background: #d9f2ff;
  }
}

/* Tip */
.meadow-callout-tip {
  // border-color: #ffe7e7;
  .meadow-callout-title {
    color: #bd0000;
    background: #ffe7e7;
  }
}

/* Warning */
.meadow-callout-warning {
  // border-color: #fff3e0;
  .meadow-callout-title {
    color: #bf360c;
    background: #fff3e0;
  }
}

/* Failure */
.meadow-callout-failure {
  // border-color: #ffe7e7;
  .meadow-callout-title {
    color: #bd0000;
    background: #ffe7e7;
  }
}

/* Success */
.meadow-callout-success {
  // border-color: #d9ffd9;
  .meadow-callout-title {
    color: #007200;
    background: #d9ffd9;
  }
}

/* Question */
.meadow-callout-question {
  // border-color: #ede7f6;
  .meadow-callout-title {
    color: #512da8;
    background: #ede7f6;
  }
}

/* Danger */
.meadow-callout-danger {
  // border-color: #ffe7e7;
  .meadow-callout-title {
    color: #bd0000;
    background: #ffe7e7;
  }
}

/* Bug */
.meadow-callout-bug {
  // border-color: #ffe7e7;
  .meadow-callout-title {
    color: #bd0000;
    background: #ffe7e7;
  }
}

/* Example */
.meadow-callout-example {
  // border-color: #ede7f6;
  .meadow-callout-title {
    color: #512da8;
    background: #ede7f6;
  }
}

/* Quote */
.meadow-callout-quote {
  // border-color: #f7f7f7;
  .meadow-callout-title {
    color: #333;
    background: #f7f7f7;
  }
}

/* Note */
.meadow-callout-note {
  // border-color: $irrelevant-color-medium;
  .meadow-callout-title {
    color: $irrelevant-color-dark;
    background: $irrelevant-color-medium;
  }
}


.blockquote {
  border-left: 3px solid $irrelevant-color-period;
  padding: 0 1.6rem;
  padding: 0 var(--blockquote-margin);
  margin: 0.8rem 0;
  color: $main-text-color;
  font-style: italic;
  width: 100%;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 0.8rem;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: $secondary-bg-color;
    padding: 0.4rem;
    background-image: url('/assets/callout-icons/quotes.svg');
    background-size: 1.1rem 1.1rem;
    background-position: center;
    background-repeat: no-repeat;
    height: 1.1rem;
    width: 1.1rem;
  }

  cite {
    font-style: italic;
    font-weight: 600;
  }

  p {
    white-space: pre-wrap;
    line-height: 1.8rem !important;
  }
}

.wikilink-embed {
  margin: 1.6rem 0;
  color: $main-text-color;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 3px solid $irrelevant-color-period;
  padding: 0 1.6rem;
  padding: 0 var(--blockquote-margin);

  &.wikilink-asset-embed {
    flex-direction: column-reverse;
    align-items: center;
    border: none;
    padding: 0;

    a.embed-link {
      margin-left: -1.8rem;
      display: none;
    }
  }

  .asset-embed {
    border: none !important;
    display: flex;
    align-self: center;
    max-width: 100%;
    overflow: hidden;
  }

  a.embed-link {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-left: -1.6rem;
    margin-left: calc(-1 * var(--blockquote-margin));
    text-decoration: underline;
    text-decoration-color: $irrelevant-color-semi-dark;
    box-shadow: none;

    &::before {
      content: '';
      display: block;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url('/assets/link.svg');
      background-size: 1.4rem 1.4rem;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

ul, ol {
  // margin: 1.8rem 0;
  // margin: 1.8rem var(--blockquote-margin);
  padding-left: 1.6rem;
  padding-left: var(--blockquote-margin);
}

h1 {
  font-size: 2.3rem;
  font-weight: 400;
}

h2 {
  font-size: 2.1rem;
  font-weight: 500;
}

h3 {
  font-size: 1.6rem;
  font-weight: 500;
}

h4 {
  font-size: 1.4rem;
  font-weight: 500;
}

h5 {
  font-size: 1.1rem;
  font-weight: 600;
}

h6 {
  font-size: 1rem;
  font-weight: 600;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  margin: 1.6rem 0 0.4rem 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}


// screen less than 1000px
@media screen and (max-width: 1000px) {
  body {
    --blockquote-margin: 1rem;
  }
}
