---
layout: default
---

<div class="col-wrapper" id="note-header">
  <div class="main-col">
    <h2>Endeavors</h2>
    <div class="note-subtitle">
      Project writeups and notes on specific topics, featuring insights and discoveries from personal explorations.
    </div>
  </div>
</div>

<div class="content-wrapper" id="note-content">
  <div class="col-wrapper">
    <div class="main-col">
      <div class="section">
        <div id="endeavors">
          {% assign sortedNotes = site.notes | sort: 'created_at' | reverse %}
          {% for note in sortedNotes %}
          {% capture note_type %}
          {% if note.type and note.type != nil %}{{note.type | downcase}}{% else %}note{% endif %}
          {% endcapture %}
          {% assign note_type = note_type | strip %}
          {% if note_type == 'endeavor' %}
          <a href="{{note.url}}" class="endeavor type-{{note_type}}">
            <div class="card hoverable">
              {% if note.image %}
              <img src="{{note.image}}" alt="" />
              {% endif %}
              <div class="card-title">{{ note.title }}</div>
              <div class="info">
                <div class="note-type">{{note_type}}</div>
                {% if note.draft %}<div class="note-type draft">Draft</div>{% endif %}
                <div class="age">{{ note.created_at | timeago }}</div>
              </div>
            </div>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
<script>
  var macy = Macy({
    container: '#endeavors',
    trueOrder: false,
    waitForImages: false,
    margin: 20,
    columns: 3,
    useContainerForBreakpoints: true,
    breakAt: {
      750: 2,
      500: 1,
    }
  });

  macy.runOnImageLoad(function () {
    setTimeout(function () {
      macy.recalculate(true);
    }, 200);
    // macy.recalculate(true);
  }, true);
</script>
