---
layout: default
---

<div class="col-wrapper" id="note-header">
  <div class="main-col">
    <h2>Endeavors</h2>
    <div class="note-subtitle">
      Project writeups and notes on specific topics, featuring insights and discoveries from personal explorations.
    </div>
    <div class="topic-list">
      <span class="topic-list-title">Topics</span>
      {% for topic in site.topics %}
      {% assign has_endeavor = topic.linked_docs | where_exp: "doc", "doc.type == 'endeavor'" | size %}
      {% if has_endeavor > 0 %}
      <button onclick="toggleTopic(this)" data-topic="{{topic.topic | downcase}}" class="topic"
        aria-pressed="false">{{topic.topic}}</button>
      {% endif %}
      {% endfor %}
      <!-- <button onclick="showAllTopics(this)" class="topic topic-show-more-button" aria-pressed="false">Show all
        topics</button> -->
    </div>
  </div>
</div>

<div class="content-wrapper" id="note-content">
  <div class="col-wrapper">
    <div class="main-col">
      <div class="section">
        <div id="endeavors">
          {% assign sortedNotes = site.notes | sort: 'created_at' | reverse %}
          {% for note in sortedNotes %}
          {% capture note_type %}
          {% if note.type and note.type != nil %}{{note.type | downcase}}{% else %}note{% endif %}
          {% endcapture %}
          {% assign note_type = note_type | strip %}
          {% if note_type == 'endeavor' %}
          <a href="{{note.url}}" class="endeavor type-{{note_type}}"
            data-topics="{% for topic in note.topics %}{{topic | downcase}}{% unless forloop.last %},{% endunless %}{% endfor %}"
            data-type="{{note_type}}">
            <div class="card hoverable">
              {% if note.image %}
              <img src="{{note.image}}" alt="" />
              {% endif %}
              <div class="card-title">{{ note.title }}</div>
              <div class="info">
                <div class="note-type">{{note_type}}</div>
                {% if note.draft %}<div class="note-type draft">Draft</div>{% endif %}
                <div class="age">{{ note.created_at | timeago }}</div>
              </div>
            </div>
          </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
<script>
  var macy = Macy({
    container: '#endeavors',
    trueOrder: false,
    waitForImages: false,
    margin: 20,
    columns: 3,
    useContainerForBreakpoints: true,
    breakAt: {
      750: 2,
      500: 1,
    }
  });

  macy.runOnImageLoad(function () {
    setTimeout(function () {
      macy.recalculate(true);
    }, 200);
    // macy.recalculate(true);
  }, true);

  var selectedTopics = [];
  var selectedTypes = [];

  function toggleTopic(element) {
    var topic = element.getAttribute('data-topic');
    if (element.getAttribute('aria-pressed') == 'false') {
      element.setAttribute('aria-pressed', 'true');
      element.classList.add('selected');
      selectedTopics.push(topic);
    } else {
      element.setAttribute('aria-pressed', 'false');
      element.classList.remove('selected');
      selectedTopics = selectedTopics.filter(function (item) {
        return item !== topic;
      });
    }
    filterNotes();
  }

  function filterNotes() {
    var notes = document.querySelectorAll('#endeavors a.endeavor');
    if (selectedTopics.length > 0) {
      notes.forEach(function (note) {
        var topics = note.getAttribute('data-topics').split(',');
        var show = false;
        topics.forEach(function (topic) {
          if (selectedTopics.includes(topic)) {
            show = true;
          }
        });
        if (show) {
          note.classList.remove('hidden');
        } else {
          note.classList.add('hidden');
        }
      });
    } else {
      notes.forEach(function (note) {
        note.classList.remove('hidden');
      });
    }
    macy.recalculate(true);
  }

  function toggleType(element) {
    var type = element.getAttribute('data-type');
    if (element.getAttribute('aria-pressed') == 'false') {
      element.setAttribute('aria-pressed', 'true');
      element.classList.add('selected');
      selectedTypes.push(type);
    } else {
      element.setAttribute('aria-pressed', 'false');
      element.classList.remove('selected');
      selectedTypes = selectedTypes.filter(function (item) {
        return item !== type;
      });
    }
    filterTypes();
  }

  function filterTypes() {
    var notes = document.querySelectorAll('#endeavors a.endeavor');
    if (selectedTypes.length > 0) {
      notes.forEach(function (note) {
        var type = note.getAttribute('data-type');
        if (selectedTypes.includes(type)) {
          note.classList.remove('hidden');
        } else {
          note.classList.add('hidden');
        }
      });
    } else {
      notes.forEach(function (note) {
        note.classList.remove('hidden');
      });
    }
    macy.recalculate(true);
  }

  function showAllTopics() {
    var topics = document.querySelectorAll('.topic-show-more');
    topics.forEach(function (topic) {
      topic.classList.remove('hidden');
    });
    document.querySelector('.topic-show-more-button').classList.add('hidden');
  }
</script>
