---
layout: default
---
<div id="about" class="col-wrapper">
  <div class="side-col">
    {% include logo.svg %}
  </div>
  <div class="main-col">
    <div class="about-me">
      Hello<span class="period">.</span> I am a software engineer and a crafts enthusiast<span class="period">.</span>
    </div>
    <div class="about-site">
      This is a place for my <a href="/endeavors/">unfinished projects</a> and <a href="/notes/">random musings</a> on
      technology, art, books and other things.
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="col-wrapper">
    <div class="main-col">
      <div class="section">
        <h2 class="section-title"><a
            href="/endeavors/"><span>Endeavors</span><span>{% include more-arrow.html %}</span></a></h2>
        <div class="section-description">
          Project writeups and notes on specific topics, featuring insights and discoveries from personal explorations.
        </div>
        <div id="endeavors">
          <a href="#" class="endeavor">
            <div class="card hoverable">
              <img src="/assets/hypocycle.svg" alt="" />
              <div class="card-title">Adventures in Visualizing Mathematical Concepts</div>
              <div class="info">
                <div class="note-type">Ongoing</div>
                <div class="age">5 months ago</div>
              </div>
            </div>
          </a>
          <a href="#" class="endeavor">
            <div class="card hoverable">
              <img src="/assets/hypocycle.svg" alt="" />
              <div class="card-title">Adventures in Visualizing Mathematical Concepts</div>
              <div class="info">
                <div class="note-type">Ongoing</div>
                <div class="age">5 months ago</div>
              </div>
            </div>
          </a>
          <a href="#" class="endeavor">
            <div class="card hoverable">
              <img src="/assets/hypocycle.svg" alt="" />
              <div class="card-title">Adventures in Visualizing Mathematical Concepts</div>
              <div class="info">
                <div class="note-type">Ongoing</div>
                <div class="age">5 months ago</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="side-col">
      <div class="section">
        <h2 class="section-title"><a href="/notes/"><span>Notes</span><span>{% include more-arrow.html %}</span></a>
        </h2>
        <div class="section-description">
          From musings to guides, a collection of ideas and experiments.
        </div>
        <div id="notes">
          {% assign sortedNotes = site.notes | sort: 'created_at' | reverse %}
          {% for note in sortedNotes limit:5 %}
          <a href="{{note.url}}" class="notes-row">
            <div class="card hoverable">
              <span
                class="note-type">{% if note.type and note.type != nil %}{{note.type}}{% else %}Note{% endif %}</span>
              {% if note.draft %}<span class="note-type draft">Draft</span>{% endif %}
              <span class="note-title">
                {{note.title}}
              </span>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>
<script>
  var macy = Macy({
    container: '#endeavors',
    trueOrder: false,
    waitForImages: false,
    useContainerForBreakpoints: true,
    margin: 14,
    columns: 2,
    breakAt: {
      750: 2,
      500: 1,
    }
  });

  macy.runOnImageLoad(function () {
    setTimeout(function () {
      macy.recalculate(true);
    }, 200);
    // macy.recalculate(true);
  }, true);
</script>
