---
layout: default
---
<script src="https://cdn.jsdelivr.net/npm/macy@2"></script>

<div class="section">
  <div class="section-header">
    <h2 class="topic-title">{{ page.topic }}</span></h2>
  </div>
  <div id="endeavors">
    {% assign sortedNotes = page.linked_docs | sort: 'created_at' | reverse %}
    {% for note in sortedNotes %}
    <a href="{{note.url}}" class="endeavor">
      <div class="card hoverable">
        {% if note.image %}
        <img src="{{note.image}}" alt="" />
        {% endif %}
        <div class="info">
          <div class="note-type">{% if note.type and note.type != nil %}{{note.type}}{% else %}Note{% endif %}</div>
          <div class="age">{{ note.created_at | timeago }}</div>
        </div>
        <div class="card-title">{{ note.title }}</div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<script>
  var macy = Macy({
    container: '#endeavors',
    trueOrder: false,
    waitForImages: false,
    margin: 20,
    columns: 3,
    useContainerForBreakpoints: true,
    breakAt: {
      750: 2,
      500: 1,
    }
  });

  macy.runOnImageLoad(function () {
    setTimeout(function () {
      macy.recalculate(true);
    }, 200);
    // macy.recalculate(true);
  }, true);
</script>
